
/* TITLE SECTION */


#title{
  
    /* background-image: linear-gradient(45deg,#fc914e ,white,white,#00b8a9 );  */
    background-color: white;
    position: relative;
    width: 100%;
}
#title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: gainsboro;
    clip-path: polygon(100% 0,0 100%,100% 100%);
}

h1{
   font-family: 'PT Serif', serif;
    line-height: 1.5;
    font-size: 90px;
    text-align: center;
    font-weight: bolder;
}
.welcome-message{
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 500;
    font-size: 5.5rem;
    color: #fc914e;
    
}

p{
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 280;
    font-size: 3rem;
    text-align: center;
}
h3{
    font-family:'Nunito', sans-serif;
    font-size: 3rem;
    text-align: center;
}
.small-word{
    text-align: center;
}
.new-words{
    padding-top: 128px;
}
.k-text{
    text-align: center;
}
.know{
    border: 1px solid #00b8a9;
    border-radius: 20px;
    background: none;
    padding: 10px 15px;
    margin: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    color: #fc914e;
    transition: 1s;
    position: relative;
    overflow: hidden;

}
.know:hover{
    color: #fff;
}
.know::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00b8a9;
    z-index: -1;
    transition: 1s;
}

.container-fluid{
    padding:1% 15% 2%;    
}



.title-image{
    width: 465px;
    /* filter: drop-shadow(2px 4px 8px #585858); */
    height: 420px;
}

.icon{
    width: 128px;
}
.image1{
    width: 300px;
    border-radius: 8px;
  }
  
.navbar{
    padding: 0 0 4rem;
 }


.navbar-brand{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    color: black;
  
}


  /* FEATURES SECTION */


#features{
    padding: 3% 9%;
    background-color: gainsboro;
}
#features p{
    line-height: 1.2;
    font-size: 35px;
}
#features h5{
    font-size: 20px;
}

.ft-wwd{
    font-family: 'PT Serif', serif;
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    color: #fc914e;
    padding-bottom: 5px;
    
}
.feature-box{
    text-align: center;
    }
  .img-sell{
      width: 100px;
      height: 100px;
      }
  .img-buy{
      width: 100px;
      height: 100px;
     }
  .img-swap{
      width: 100px;
      height: 100px;
    }
  



/* OTHER SERVICES */

.ads{
    width: 150px;
    height: 150px;
}
.escrow{
    width: 150px;
    height: 150px;
}
#other-services{
    padding: 3% 9%;
    text-align: center;
    background-color: white;
}
.services-icon {
    color: #ef8172;
    margin-bottom: 1rem;
    text-align: center;    
}
  
#other-services h5{
      text-align: center;
      font-size: 20px;
  }


/* PRICING */

.price-heading h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    }
.price-heading h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{background-color:#eee;}

#generic_price_table{
	background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #2ECC71;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #2ECC71; 
    color: #2ECC71;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #2ECC71;
	color: #fff;
} 
#generic_price_table{
	margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #2ECC71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}

/* #TESTIMONIALS */
.testimonials{
    margin: 20px auto;
}
.text-center{
    font-size: 25px;
}
.testimonials h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials .row{
margin-top: 30px;
}
.col-lg-4{
    margin: 50px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% -60px);
    border: 10px solid white;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}
span{
    font-size: 12px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before
{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: '\94';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}



/* PRODUCTS */
#product{
    background-color: gainsboro;
    padding: 5px 20px;
}
.single-product{
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}
.single-product:hover{
    box-shadow: 0 0 10px #222;
    
}
.col-md-3{
    margin: 30px auto;
}
#product h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#product h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.img-fluid{
    padding: 10px 10px;
    border-radius: 50%;
}



/* personal-safety */

#personal-safety{
    padding: 5% 15%;
}
#personal-safety h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
#personal-safety h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.safety{
    font-family: 'PT Serif', serif;
    font-weight: 600;
}
#personal-safety .container{
    padding: 20px;
    background: tan;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
#personal-safety .container ul{
    position: relative;
}
#personal-safety .container ul li{
    position: relative;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 5px;
}
#personal-safety .container ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    transition-delay: 0.5s, 0s;
    border: 2px solid #fc914e;
    box-sizing: border-box;
    transition-delay: 0s;
}
#personal-safety .container ul li:hover::before{
    width: 100%;
    background: #fc914e;
    transition-delay: 0s, 0.5s;

}
#personal-safety .container ul li::after{
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: 0.5s;
}
#personal-safety .container ul li:hover::after{
    transform: rotate(45deg) scale(1.5);
    transition-delay: 0.5s;
    left: 24px;

}
#personal-safety .container ul li h6{
    position: relative;
    z-index: 10;
    padding: 5px 20px;
}

/* FOOTER */
/* 
#footer{
    text-align: center;
    background-image: linear-gradient(90deg,#fc914e ,#00b8a9 );
    
}
.ctc-us{
	padding: 5px;
}
.border{
    width: 100px;
    height: 4px;
    background: aqua;
}
.social-icon{
    margin: 20px 10px;
}
.fa-whatsapp{
    color: green;
}
.fa-facebook{
    color: blue;
}
.fa-instagram{
    color: rgb(180, 51, 72);
}
.fa-telegram{
    color: rgb(32, 182, 241);
} */



footer p{
    font-size: 20px;
    text-align: start;
}


@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }